

.slideshow {
    height: 100%;
    overflow: hidden; /* to hide slides in x-direction */
    position: relative;
    
}

.slideshow-wrapper {
    display: flex;

    width: 400%;
    height: 100%;
    position: relative;
    animation: slideshow 20s infinite;
 }

.slide {
    width: 100%;
    height: 100%;
}
.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

@keyframes slideshow {
    0%  { left: 0; }
    10% { left: 0; }
    15% { left: -100%; }
    25% { left: -100%; }
    30% { left: -200%; }
    40% { left: -200%; }
    45% { left: -300%; }
    55% { left: -300%; }
    60% { left: -200%; }
    70% { left: -200%; }
    75% { left: -100%; }
    85% { left: -100%; }
    90% { left: 0%; }
}

.slide-btn {
    background-color:rgba(255, 255, 255, 0.5);
    outline: none;
    cursor: pointer;
    border: 2px solid white;

    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 70;
    margin:8px

} 

/* .controlpanel {
    width:344px;
    height: 50px;
    background-color: black;
   
} */

.circle {
    width:12px;
    height: 15px;
    border-radius: 50%;
}

.slide-btn-1 {
    left: 33%;
    
}
.slide-btn-2 {
    left: 43%;
}
.slide-btn-3 {
    left: 53%;
}
.slide-btn-4 {
    left: 63%;
}


.slide-btn-1:focus~.slideshow-wrapper {
    animation: normal;
    left: 0;
}
.slide-btn-2:focus~.slideshow-wrapper {
    animation: normal;
    left: -100%;
}
.slide-btn-3:focus~.slideshow-wrapper {
    animation: normal;
    left: -200%;
}
.slide-btn-4:focus~.slideshow-wrapper {
    animation: normal;
    left: -300%;
}

.slide-btn:focus {
    background-color:  white;
}

.placeholder {
    background: rgb(17, 17, 17);
    width:344px;
    height:74px;
    margin-top: -50px;
    margin-bottom: 26px;
    color: rgba(0, 0, 0, 0.38);
}
