input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    min-width: 329px;
    height: 56px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.5px;
    padding-left: 1em;
    margin-top: 16px;
   
} 

 ::-ms-reveal {
    display: none;
 }

 .icon {
    margin-top:12px;
    margin-left: -40px;
    width: 24px;
    height: 24px;
}

.error {
    border: 1px solid red;
}

.error-feedback{
    color:red;
    font-size: 12px;
}

.fields {
    display:flex;
    align-items: center;
}

